# Python
__pycache__/
*.py[cod]
*.pyc
build/
dist/
*.egg-info/
backups/
original_dataset/
.venv/
evaluation_results*.json


# Virtual Environment
venv/
env/

# Node
node_modules/
/build
package-lock.json

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS
.DS_Store